{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <fieldset>
                    <div class="row disabled">
                        <div class="col col-8">
                            Название: <input type="text" value="{{ snippet.name }}" class="form-control">
                        </div>
                        <div class="col col-4">
                            Дата создания:<input type="text" value="{{ snippet.creation_date }}" class="form-control">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <div class="p-2 h-100" style="border:1px solid #ced4da; border-radius:5px;">
                                <p>
                                    {{ snippet.code }}
                                </p>

                            </div>

                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <table border="1">
                    <tr>
                        <th>Автор</th>
                        <th>Комментарий</th>
                    </tr>
                    {% for comment in snippet.comments.all %}
                        <tr>
                            <td>{{ comment.author.username }}</td>
                            <td>{{ comment.text }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form method="post" action="{% url 'comment-add' %}">{% csrf_token %}
                    {{ comment_form }}
                    <input name="snippet_id" type="hidden" value="{{ snippet.id }}">
                    <button type="submit">Добавить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}